.header {
  color: #F7E401;
  background-color: #013988;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__logo-container {
  max-width: 100px;
}

.header__logo-container img {
  width: 100%;
}
